
<div  id="homeContainer">
  <div class="col-lg-12 topBar">
    <p>
      <form>
        <input type="text" id="jobTitle" placeholder="title"></input>
        <input type="text" id="jobLocation" placeholder="location"></input>
        <input type="text" id="jobDescription"  placeholder="description"></input>
        <input type="text" id="jobWages" placeholder="wages"></input>
        <button id="jobButton">save</button>
      </form>
    </p>
  </div>
  <div>
    <ul id="jobListings">
      <li ng-repeat="job in jobsData track by $index">
        <div>
          <h3 class="leadGeneration" data-spy='scroll' data-target="popover">
            <span ng-mouseover="makeShift(job.title, job.location)" class="leadTitle"><a>{{job.title}}</span>
            -
            <span ng-mouseover="makeShift(job.title, job.location)" class="leadLocation">{{job.location}}</a></span>
          </h3>
          <p><small>{{job.wages}}</small>-{{job.description}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div id="popover" data-0="height: 55%;" data-175="height: 80%;">

  <ul>
    <li ng-repeat="lead in leads track by $index">
      <a href="{{lead.url}}">{{lead.jobtitle}} - {{lead.company}} - {{lead.formattedLocation}}</a>
    </li>
    <li class="animate-repeat" ng-if="leads.length == 0">
  <strong>No results found...</strong>
</li>
  </ul>

</div>
